<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дашборд</title>
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/js.cookie.js"></script>
</head>
<body>
    <div class="container">

        {{template "aside.html"}}
        <main>
            <h1>Дашборд</h1>
            <div class="date">
                <input type="date">
            </div>

            <div class="insights">
                <div class="sales">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Выполненных задач за месяц</h3>
                            <h1>31</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Последние 24 часа</small>
                </div>
                <!------------------ END OF SALES ------------------>
                <div class="expenses">
                    <span class="material-icons-sharp">bar_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Описано документации</h3>
                            <h1>18</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>62%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Последние 24 часа</small>
                </div>
                <!------------------ END OF EXPENSES ------------------>
                <div class="income">
                    <span class="material-icons-sharp">stacked_line_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Предполагаемая прибыль</h3>
                            <h1>155000₽</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>44%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Последние 24 часа</small>
                </div>
                <!------------------ END OF INCOME ------------------>
            </div>
            <!------------------ END OF INSIGTS ------------------>

            <div class="recent-orders">
                <h2>Недавние изменения</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Название проекта</th>
                            <th>Номер задачи</th>
                            <th>Ответственный</th>
                            <th>Статус задачи</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Тестовый</td>
                            <td>ARH-879</td>
                            <td>Куппе Роман</td>
                            <td class="warning">Согласование</td>
                            <td class="primary">Подробнее</td>
                        </tr>
                        <tr>
                            <td>Тестовый</td>
                            <td>ARH-879</td>
                            <td>Куппе Роман</td>
                            <td class="warning">Согласование</td>
                            <td class="primary">Подробнее</td>
                        </tr>
                        <tr>
                            <td>Тестовый</td>
                            <td>ARH-879</td>
                            <td>Куппе Роман</td>
                            <td class="warning">Согласование</td>
                            <td class="primary">Подробнее</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#">Показать все</a>
            </div>
        </main>
<!----------------------------- END OF MAIN ----------------------------->

        <div class="right">
            {{ template "right-top.html" .}}
            {{ template "resent-updates.html" .}}

            <div class="sales-analytics">
                <h2>Аналитика проектов</h2>
                <div class="item online">
                    <div class="icon">
                        <span class="material-icons-sharp">view_in_ar</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>Новые проекты</h3>
                            <small class="text-muted">Последний месяц</small>
                        </div>
                        <h5 class="success">+33%</h5>
                        <h3>2</h3>
                    </div>
                </div>
                <div class="item offline">
                    <div class="icon">
                        <span class="material-icons-sharp">recommend</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>Процент выполненных задач</h3>
                            <small class="text-muted">Последние 24 часа</small>
                        </div>
                        <h5 class="danger">-17%</h5>
                        <h3>5</h3>
                    </div>
                </div>
                <div class="item customers">
                    <div class="icon">
                        <span class="material-icons-sharp">person</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>Новые клиенты</h3>
                            <small class="text-muted">Последний месяц</small>
                        </div>
                        <h5 class="success">+25%</h5>
                        <h3>3</h3>
                    </div>
                </div>
                <div class="item add-product">
                    <div>
                        <span class="material-icons-sharp">add</span>
                        <h3>Добавить отчёт</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $( document ).ready(function() {
            $('.logout').click(function () {
                console.log("123")
                $.cookie("auth", null, {path: '/'})
            })
        });
    </script>
    <script src="/js/aside.js"></script>
    <script src="/js/right-top.js" ></script>
</body>
</html>