<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Уведомления</title>
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/js.cookie.js"></script>
</head>
<body>
<div class="container">
    {{template "aside.html" .}}
    <main>
        <h1>Заглушка</h1>
        <div class="issues">
            <div class="issues-content">
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Сообщение</th>
                        <th>Ссылка</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $notifications := .notifications }}
                    <tr>
                        {{ if .View}}
                        <td>{{ .ID }}</td>
                        <td>{{ .Content }}</td>
                        {{ else }}
                        <td><b>{{ .ID }}</b></td>
                        <td><b>{{ .Content }}</b></td>
                        {{ end }}
                        <td id="source">
                            <a href='../{{ .Source }}'>ссылка</a>
                        </td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <div class="right">
        {{ template "right-top.html" .}}
        {{ template "resent-updates.html" }}
        <!-------------------- END OF RECENT UPDATES -------------------->
<!--        <div class="sales-analytics">-->
<!--            <div class="item add-product">-->
<!--                <div>-->
<!--                    <span class="material-icons-sharp">add</span>-->
<!--                    <h3>Добавить задачу</h3>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
<script src="/js/aside.js"></script>
<script src="/js/right-top.js" ></script>
<script>
    let tbody = document.querySelector('tbody')
    for (let i = 0; i < tbody.children.length; i++) {
        tbody.children[i].addEventListener('click', (evt) => {
            evt.preventDefault()
            $.ajax({
                type: "GET",
                url: 'http://' + window.location.host + '/notification/read?nid=' + tbody.children[i].children[0].children[0].innerHTML,
                success: () => {
                    $(tbody.children[i].children).each(function (index) {
                        let content = tbody.children[i].children[index].children[0].innerHTML
                        tbody.children[i].children[index].innerHTML = content
                    })

                    let notificationsCount = document.querySelector('#notifications-count')
                    if (notificationsCount) {
                        let cnt = parseInt(notificationsCount.innerHTML, 10)
                        cnt--
                        if (cnt > 0) {
                            notificationsCount.innerHTML = cnt.toString()
                        } else {
                            notificationsCount.remove()
                        }

                    }
                },
                error: function (data) {
                    alert(data.statusText)
                    console.log(data.statusText)
                }
            });
        })
    }


</script>
</body>
</html>