<aside>
    <div class="top">
        <div class="logo">
<!--            <img src="./img/logo.png" alt="logo">-->
<!--            <img src="data:image/png;base64,{{ .image }}" alt="{{ .image }}">-->
            <img src="/img/logo.png" alt="">
            <h2>KUPP<span class="success">UCH</span></h2>
            {{.image}}
        </div>
        <div class="close" id="close-btn">
            <span class="material-icons-sharp">close</span>
        </div>
    </div>

    <div class="sidebar">
        <a href="/" class="active">
            <span class="material-icons-sharp">grid_view</span>
            <h3>Дашборд</h3>
        </a>
        <a href="#">
            <span class="material-icons-sharp">task_alt</span>
            <h3>Мои задачи</h3>
        </a>
        <a href="#">
            <span class="material-icons-sharp">notifications</span>
            <h3>Уведомления</h3>
            <span class="notifications-count">23</span>
        </a>
        <a href="/project">
            <span class="material-icons-sharp">source</span>
            <h3>Проекты</h3>
        </a>
        <a href="/admin">
            <span class="material-icons-sharp">admin_panel_settings</span>
            <h3>Администрирование</h3>
        </a>
        <a href="#">
            <span class="material-icons-sharp">settings</span>
            <h3>Настройки</h3>
        </a>
        <a id="logout" href="#">
            <span class="material-icons-sharp">logout</span>
            <h3>Выйти</h3>
        </a>
    </div>
</aside>