<aside>
    <div class="top">
        <div class="logo">
            <img src="/img/logo.png" alt="">
            <h2>KUPP<span class="success">UCH</span></h2>
            {{.image}}
        </div>
        <div class="close" id="close-btn">
            <span class="material-icons-sharp">close</span>
        </div>
    </div>

    <div class="sidebar">
        <a href="/">
            <span class="material-icons-sharp">grid_view</span>
            <h3>Дашборд</h3>
        </a>
        <a href="/issues/my_issue">
            <span class="material-icons-sharp">task_alt</span>
            <h3>Мои задачи</h3>
        </a>
        <a id="notification-block" href="/notification">
            <span class="material-icons-sharp">notifications</span>
            <h3>Уведомления</h3>
        </a>
        <a href="/projects">
            <span class="material-icons-sharp">source</span>
            <h3>Проекты</h3>
        </a>
        <a href="/budgets">
            <span class="material-icons-sharp">currency_ruble</span>
            <h3>Бюджеты</h3>
        </a>
        {{if .user.Admin}}
        <a href="/admin">
            <span class="material-icons-sharp">admin_panel_settings</span>
            <h3>Администрирование</h3>
        </a>
        {{end}}
        <a href="/risks">
            <span class="material-icons-sharp">trending_down</span>
            <h3>Риски</h3>
        </a>
        <a id="logout">
            <span class="material-icons-sharp">logout</span>
            <h3>Выйти</h3>
        </a>
    </div>
</aside>