<div class="top">
    <button id="menu-btn">
        <span class="material-icons-sharp">menu</span>
    </button>
    <div class="theme-toggler">
        <span class="material-icons-sharp active">light_mode</span>
        <span class="material-icons-sharp">dark_mode</span>
    </div>
    <div class="profile">
        <div class="info">
            <p>Привет, <b>Роман</b></p>
            <small class="text-muted">Admin</small>
        </div>
        <div class="profile-photo">
            <img src="./img/Роман.jpg" alt="">
        </div>
    </div>
</div>