<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="container">
    {{template "aside.html" .}}
    <main>
        <form class="mt-30" action="" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" id="image">
            <div id="button-success" class="content-block-h">
                <button type="button" onclick="saveProfilePhoto()" id="send">Отправить</button>
            </div>
        </form>
        <div>
            <input type="checkbox" class="custom-checkbox" id="mail_notify" name="mail_notify" checked>
            <label for="mail_notify">Уведомления по E-mail</label>
        </div>
        <button type="button" onclick="save()" id="save">Сохранить</button>
    </main>
    <div class="right">
        {{ template "right-top.html" .}}
    </div>
</div>

<script>
    function saveProfilePhoto() {
        let photo = document.getElementById("image").files[0];
        let formData = new FormData();
        formData.append("image", photo);

        $.ajax({
            url: 'http://' + window.location.host + '/upload',
            type: "POST",
            data: formData,
            success: function (msg) {
                const htmlStr =
                    '<div id="success" class="content-block-v">' +
                        '<span class="material-icons-sharp success">done</span>' +
                        '<small class="text-muted">Обновите страницу с кешем</small>' +
                    '</div>'
                document.querySelector('#button-success').insertAdjacentHTML('beforeend', htmlStr);
                setTimeout(hideSuccess, 2000);
            },
            cache: false,
            contentType: false,
            processData: false
        });
    }

    function save() {
        let mailNotify = document.querySelector('#mail_notify')
        console.log(mailNotify.checked)
        let data = {}
        data.email_notify = mailNotify.checked
        $.ajax({
            url: 'http://' + window.location.host + '/users/update',
            type: "PATCH",
            data: JSON.stringify(data),
            success: function (msg) {
                const htmlStr =
                    '<div id="success" class="content-block-v">' +
                    '<span class="material-icons-sharp success">done</span>' +
                    '<small class="text-muted">Обновите страницу с кешем</small>' +
                    '</div>'
                document.querySelector('#button-success').insertAdjacentHTML('beforeend', htmlStr);
                setTimeout(hideSuccess, 2000);
            },
            error: function (data) {
                const body = JSON.parse(data.responseText);
                alert(body.Meta);
            },
            cache: false,
            contentType: false,
            processData: false
        });
    }

    function hideSuccess() {
        document.querySelector('#success').remove()
    }
</script>
<script src="/js/right-top.js"></script>
</body>
</html>