<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать проект</title>
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/js.cookie.js"></script>
</head>
<body>
<div class="container">
    {{template "aside.html" .}}
    <main>
        <h1>Создание проекта</h1>
        <div class="central-form">
            <form id="registration" class="registration">
                <input type="text" class="form-control mt-30" id="nameInput" name="name" placeholder="Название" value=""
                       required>
                <input type="text" class="form-control mt-30" id="descriptionInput" name="description"
                       placeholder="Описание" value="">
                <div class="row">
                    <div class="content-block-h pv-1r">
                        <div class="title">Дата начала</div>
                        <div class="date">
                            <input id="dateStart" type="date" required>
                        </div>
                    </div>
                    <div class="content-block-h pv-1r">
                        <div class="title">Дата окончания</div>
                        <div class="date">
                            <input id="dateEnd" type="date" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn" name="send" id="submitBtn">Создать проект</button>
            </form>
        </div>
    </main>
    <div class="right">
        {{ template "right-top.html" .}}
        <div class="recent-updates">
            <h2>Недавние изменения</h2>
            <div class="updates">
                <div class="update">
                    <div class="profile-photo">
                        <!--                          <img src="./img/Роман.jpg" alt="">-->
                    </div>
                    <div class="message">
                        <p><b>Куппе Роман</b> написал главную страницу</p>
                        <small class="text-muted">2 Минуты назад</small>
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">
                        <!--                          <img src="./img/Роман.jpg" alt="">-->
                    </div>
                    <div class="message">
                        <p><b>Куппе Роман</b> написал главную страницу</p>
                        <small class="text-muted">2 Минуты назад</small>
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">
                        <!--                          <img src="./img/Роман.jpg" alt="">-->
                    </div>
                    <div class="message">
                        <p><b>Куппе Роман</b> написал главную страницу</p>
                        <small class="text-muted">2 Минуты назад</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/aside.js"></script>
<script src="/js/right-top.js"></script>
<script>
    menuBtn.addEventListener('click', () => {
        sideMenu.style.display = 'block'
    })

    closeBtn.addEventListener('click', () => {
        sideMenu.style.display = 'none'
    })

    let dateStart = document.querySelector('#dateStart')
    dateStart.valueAsDate = new Date()

    $('.registration').on('submit', (event) => {
        event.preventDefault();
        let data = $(event.target)
            .serializeArray()
            .reduce(function (json, {name, value}) {
                json[name] = value
                return json
            }, {})
        data.isPublic = data.isPublic === 'true'
        data.dateStart = new Date($('#dateStart').val())
        data.dateEnd = new Date($('#dateEnd').val())
        $.ajax({
            type: "POST",
            url: 'http://' + window.location.host + '/projects/create',
            data: JSON.stringify(data),
            success: function (data) {
                window.location = 'http://' + window.location.host + '/projects'
            },
            error: function (dataJSON) {
                const data = JSON.parse(dataJSON.responseText)
                alert(data.Meta);
                console.log(data)
                //window.location = 'http://' + window.location.host + '/projects'
            }
        })
    })
</script>
</body>
</html>