<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Задача #{{ .issue.ID }}</title>
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/js.cookie.js"></script>
</head>
<body>
<div class="container">
    {{template "aside.html" .}}
    <main>
        <h1>Задача {{ .issue.Name }}</h1>
        <div class="issue-container">
            <div id="issue-info" class="issues-content">
                <div class="content-block-v">
                    <span>Описание</span>
                    {{ .issue.Description }}
                </div>
                <div class="row">
                    <div class="content-block-h pv-1r">
                        <div class="title">Статус</div>
                        <div class="cont">
                            <select name="Status" id="status">
                                <option value="{{ .issue.StatusID }}">{{ .issue.StatusName }}</option>
                                {{ range $statuses := .statuses }}
                                <option value="{{ .ID }}">{{ .Name }}</option>
                                {{ end }}
                            </select>
                        </div>
                    </div>
                    <div class="content-block-h pv-1r">
                        <div class="title">Трекер</div>
                        <div class="cont">
                            {{ .issue.TrackerName }}
                        </div>
                    </div>
                    <div class="content-block-h pv-1r">
                        <div class="title">Создал:</div>
                        <div class="cont">
                            {{ .issue.Creator }}
                        </div>
                    </div>
                    <div class="content-block-h pv-1r">
                        <div class="title">Назначена на:</div>
                        <div class="cont">
                            {{ .issue.AssignedTo }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="content-block-h pv-1r">
                        <div class="title">Проект</div>
                        <p>{{ .issue.ProjectName }}</p>
                    </div>
                    <div class="content-block-h pv-1r">
                        <div class="title">Бюджет</div>
                        <p>{{ .issue.BudgetName }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="content-block-h pv-1r">
                        <div class="title">Времени затрачено</div>
                        <span id="timespent">{{ .timespent }}</span>
                    </div>
                    <div class="content-block-h pv-1r">
                        <div class="title">Оценка</div>
                        <div class="cont">
                            {{ .issue.EstimatedHours }}ч.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="content-block-h pv-1r">
                        <div class="title">Добавить трудосписания</div>
                        <div class="cont">

                            <input type="text" class="form-control" id="timespentInput" name="Timespent" placeholder="#h #m"
                                   value="" required>
                            <p>Выберите роль</p>
                            <select name="projectRoles" id="projectRoles">
                                {{ range $projectRoles := .projectRoles }}
                                <option value="{{ .ID }}">{{ .Name }}</option>
                                {{ end }}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="button-success" class="content-block-h pv-1r">
                        <button class="bg-success" id="saveTimespent" style="cursor: pointer" onclick="save()">Сохранить
                        </button>
                    </div>
                </div>

                <button id="view-srs" style="cursor: pointer">Показать ТЗ
                </button>

            </div>

            <div id="issue-srs" style="display: none" class="issues-content issue-srs">
                <div id="doc" style="height: 70vh; overflow-y: auto; overflow-x: hidden">
                </div>
            </div>
        </div>

        <div class="issues-content">
            <div class="content-block-v">
                <span>Трудозатраты</span>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Автор</th>
                    <th>Роль</th>
                    <th>Время</th>
                    <td style="width: 115px"></td>
                </tr>
                </thead>
                <tbody>
                {{ range $timespents := .timespents }}
                <tr>
                    <td hidden>{{ .TimespentID }}</td> <!-- TimespentID -->
                    <td hidden>{{ .UserID }}</td> <!-- UserID -->
                    <td>{{ .User }}</td>
                    <td>{{ .Role }}</td>
                    <td>{{ .Spent }}</td>
                    <td>
<!--                        <button id="editTimespent" style="cursor: pointer" onclick="save()">Редактировать</button>-->
                    </td>
                </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </main>
    <div class="right">
        {{ template "right-top.html" .}}
        <div class="recent-updates">
            <h2>Трудозатраты</h2>
            <div id="timespent_div" class="updates">
            </div>
        </div>
    </div>
</div>
<script src="/js/aside.js"></script>
<script src="/js/right-top.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    addEventListener("load", (event) => {
        const timespent = {{ .timespent }}
        let minute = (timespent - Math.floor(timespent)) * 60
        let timeResult = Math.floor(timespent) + 'ч. '
        if (minute > 0) {
            timeResult += minute + 'мин.'
        }
        const estimated = {{ .issue.EstimatedHours }}
        document.querySelector('#timespent').innerHTML = timeResult
        if (Math.floor(timespent) + minute > estimated) {
            document.querySelector('#timespent').classList.add("danger")
        }
    });

    function save() {
        const timespent = document.querySelector('#timespentInput').value
        const status = document.querySelector('#status').value
        const projectRole = document.querySelector('#projectRoles').value
        let data = {
            spent_str: timespent,
            status: status,
            role_id: projectRole,
        }
        const path = window.location.pathname.split('/')[2]
        $.ajax({
            type: "POST",
            url: 'http://' + window.location.host + '/issues/save/' + path,
            data: JSON.stringify(data),
            success: function (dataresp) {
                let minute = (dataresp.timespent - Math.floor(dataresp.timespent)) * 60
                let timeResult = Math.floor(dataresp.timespent) + 'ч. '
                if (minute > 0) {
                    timeResult += minute + 'мин.'
                }
                document.querySelector('#timespent').innerHTML = timeResult

                const htmlStr = '<span id="success" class="material-icons-sharp success">done</span>'
                document.querySelector('#button-success').insertAdjacentHTML('beforeend', htmlStr);
                setTimeout(hideSuccess, 2000);
            },
            error: function (dataJSON) {
                const data = JSON.parse(dataJSON.responseText)
                alert(data.Meta);
                console.log(data.Meta)
            },
            complete: function () {
                const timespentInput = document.querySelector('#timespentInput')
                timespentInput.value = ''
            }
        })
    }

    function hideSuccess() {
        document.querySelector('#success').remove()
    }

    const tbody = document.querySelector('tbody')
    for (let i = 0; i < tbody.children.length; i++) {
        let tr = tbody.children[i]
        tr.addEventListener('click', function () {

            if (tr.children[4].children.length < 1) {
                let spent = tr.children[4].innerHTML
                input = document.createElement('input')
                input.id = 'timespent'+tr.children[0].innerHTML
                input.value = spent

                tr.children[4].innerHTML = ''

                button = document.createElement('button')
                button.id = 'editTimespent'+tr.children[0].innerHTML
                button.style = 'cursor: pointer'
                button.innerHTML = 'Редактировать'

            //<button id="editTimespent" style="cursor: pointer" onclick="save()">Редактировать</button>
                tr.children[4].append(input)
                tr.children[4].style = 'width: 220px'
                tr.children[5].append(button)

                button.onclick = function () {
                    saveTimespent(tr.children[0].innerHTML)
                }
            }
        })
    }

    function saveTimespent(timespentID) {
        const inputTimespent = document.querySelector('#timespent'+timespentID)
        const buttonTimespent = document.querySelector('#editTimespent'+timespentID)
        let data = {}

        data.timespentID = parseInt(timespentID)
        data.value = parseFloat(inputTimespent.value)
        data.time
        $.ajax({
            type: "PATCH",
            url: 'http://' + window.location.host + '/timespents/save/',
            data: JSON.stringify(data),
            success: function (dataresp) {
                console.log(dataresp)
                let td = inputTimespent.parentElement
                inputTimespent.remove()
                buttonTimespent.remove()
                td.innerHTML = dataresp.spent
            },
            error: function (dataJSON) {
                const data = JSON.parse(dataJSON.responseText)
                alert(data.Meta);
                console.log(data.Meta)
            }
        })
    }

    build()
    function build() {
        fullBudgetTime = 0
        fullBudgetEstimated = 0
        fullBudgetTimespent = 0

        let budgetTimespentDetails = document.querySelector('#timespent_div')
        let ctx = document.createElement('canvas')
        ctx.id = 'myChart1'
        budgetTimespentDetails.style.height = '200%'
        budgetTimespentDetails.style.width = '100%'
        budgetTimespentDetails.append(ctx)

        const timespent = {{ .timespent }}
        const estimatedHours = {{ .issue.EstimatedHours }}

        let timespentColor = "#41f1b6"
        if (timespent > estimatedHours) {
            timespentColor = "#ff7782"
        }

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [''],
                datasets: [
                    {
                        label: 'Трудозатраты',
                        data: [timespent],
                        backgroundColor: timespentColor,
                    },
                    {
                        label: 'Оценка',
                        backgroundColor: "#7380ec",
                        data: [estimatedHours]
                    },
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                indexAxis: 'y',
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Трудозатраты по задаче (часов)'
                    }
                },
            }
        })
    }

    let isSrsView = false
    const viewSrsBtn = document.querySelector('#view-srs')
    viewSrsBtn.addEventListener('click', function () {
        const issueSrsDiv = document.querySelector('#issue-srs')
        const issueInfoDiv = document.querySelector('#issue-info')
        if (isSrsView) {
            issueSrsDiv.style.display = 'none'
            viewSrsBtn.innerHTML = 'Показать ТЗ'
            let rows = document.getElementsByClassName('row')
            for (let i = 0; i < rows.length; i++) {
                rows[i].classList.remove('fd')
                for (let j = 0; j < rows[i].children.length; j++) {
                    rows[i].children[j].style.removeProperty('width')
                }
            }
            issueInfoDiv.style.width = '100%'
        } else {
            issueSrsDiv.style.display = 'block'
            viewSrsBtn.innerHTML = 'Скрыть ТЗ'
            let rows = document.getElementsByClassName('row')
            for (let i = 0; i < rows.length; i++) {
                rows[i].classList.add('fd')
                for (let j = 0; j < rows[i].children.length; j++) {
                    rows[i].children[j].style.width = '100%'
                }
            }
            issueInfoDiv.style.width = '49%'
        }
        isSrsView = !isSrsView
    })

    function getSRS() {
        var md = window.markdownit();

        let gitRepository = ""
        $.ajax({
            type: "GET",
            url: 'http://'+window.location.host+'/projects/' + params[2] + '/link_rep',
            success: function (data) {
                gitRepository = JSON.parse(data).Repository
                if (gitRepository) {
                    apiGetDocContent(gitRepository).then((result) => {
                        const container = document.querySelector('#doc')
                        const resContent = Base64.decode(result.data.content)
                        let html = md.render(resContent)
                        container.insertAdjacentHTML( 'beforeend', html )
                    })
                } else {
                    const container = document.querySelector('#doc')
                    let html = '<h1>Git репозиторий не назначен</h1><h3>Перейдите в настройки, чтобы назначить</h3>'
                    container.insertAdjacentHTML( 'beforeend', html )
                }
            }
        });
    }

</script>
</body>
</html>