<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проекты</title>
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
</head>
<body>
<div class="container">
    {{template "aside.html"}}
    <main>
        <h1>Проекты</h1>
        <div class="date">
            <input type="date">
        </div>

        <div class="insights">
            {{ range $projects := .projects }}
            <div class="sales">
                <span hidden>{{ .ID }}</span>
                <h1>{{ .Name }}</h1>
                <h3>{{ .Description }}</h3>
<!--                <span class="material-icons-sharp">analytics</span>-->
                <div class="middle">
                    <div class="left">
                        <h3>Всего задач</h3>
                        <h1>360</h1>
                    </div>
                </div>
                <small class="text-muted">Последние 24 часа</small>
            </div>
            {{ end }}
        </div>
        <!------------------ END OF INSIGTS ------------------>
    </main>
    <div class="right">
        {{ template "right-top.html" }}
        <div class="recent-updates">
            <h2>Недавние изменения</h2>
            <div class="updates">
                <div class="update">
                    <div class="profile-photo">
                        <img src="./img/Роман.jpg" alt="">
                    </div>
                    <div class="message">
                        <p><b>Куппе Роман</b> написал главную страницу</p>
                        <small class="text-muted">2 Минуты назад</small>
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">
<!--                        <img src="./img/Роман.jpg" alt="">-->
                    </div>
                    <div class="message">
                        <p><b>Куппе Роман</b> написал главную страницу</p>
                        <small class="text-muted">2 Минуты назад</small>
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">
<!--                        <img src="./img/Роман.jpg" alt="">-->
                    </div>
                    <div class="message">
                        <p><b>Куппе Роман</b> написал главную страницу</p>
                        <small class="text-muted">2 Минуты назад</small>
                    </div>
                </div>
            </div>
        </div>
        <!-------------------- END OF RECENT UPDATES -------------------->
        <div class="sales-analytics">
            <div class="item add-product">
                <div>
                    <span class="material-icons-sharp">add</span>
                    <h3>Добавить проект</h3>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/js/aside.js"></script>
<script src="/js/right-top.js"></script>
<script>
    const addProductBtn = document.querySelector(".add-product")

    addProductBtn.addEventListener('click', () => {
        location.assign("/project/create");
    })

    const insights = document.querySelector(".insights");
    insights.addEventListener('click', (event) => {
        let sales = event.target.closest('.sales');

        if (sales.className === 'sales') {
            location.assign("/project?id="+sales.childNodes[1].innerHTML);
        }
    })

</script>
</body>
</html>