<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проекты</title>
    {{template "meta.html"}}
</head>
<body>
{{template "header.html"}}
<div class="container">
    <div class="row md-3">
        <div class="col">
            <h2>Все проекты</h2>
        </div>
        <div class="col">
            <a href="/project/create" class="btn btn-primary">Создать проект</a>
        </div>
    </div>
    <div class="row md-3">
        <div class="col">
            <div class="container border rounded">
                <h3>Заглушка 1</h3>
            </div>
        </div>
        <div class="col">
            <div class="container border rounded">
                <h3>Заглушка 2</h3>
            </div>
        </div>
        <div class="col">
            <div class="container border rounded">
                <h3>Заглушка 3</h3>
            </div>
        </div>
    </div>
    <div class="row md-3">
        <div class="col">
            <div class="container border rounded">
                <h3>Заглушка 4</h3>
            </div>
        </div>
        <div class="col">
            <div class="container border rounded">
                <h3>Заглушка 5</h3>
            </div>
        </div>
        <div class="col">
            <div class="container border rounded">
                <h3>Заглушка 6</h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>