<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .project.Name }}</title>
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">
    {{template "aside.html"}}
    <main>
        <h1>Проект {{ .project.Name }}</h1>
        <div class="issues">
            <ul class="submenu">
                <li class="active">Бюджеты</li>
                <li>Задачи</li>
                <li>Техническое задание</li>
                <li>Настройки</li>
            </ul>
            <div class="issues-content">
            </div>
        </div>
    </main>
    <div class="right">
        {{ template "right-top.html" .}}
        {{ template "resent-updates.html" }}
        <!-------------------- END OF RECENT UPDATES -------------------->
        <div class="sales-analytics">
            <div class="item add-product">
                <div>
                    <span class="material-icons-sharp">add</span>
                    <h3>Добавить задачу</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/aside.js"></script>
<script src="/js/right-top.js"></script>
<script>
    const addProductBtn = document.querySelector(".add-product")

    let queryDist = {};
    location.search.substring(1).split('&').forEach((item) => {
        let param = item.split('=');
        queryDist[param[0]] = param[1];
    })

    const url = new URL(location.href);
    const params = url.pathname.split("/");

    addProductBtn.addEventListener('click', () => {
        location.assign("/issue/create?project_id=" + params[2]);
    })
    getBudgets();

    //      переключение между вкладками
    const insights = document.querySelector(".submenu");
    insights.addEventListener('click', (event) => {
        let target = event.target;

        if (target.tagName === 'LI' || target.tagName === 'A') {
            for (let index = 0; index < insights.children.length; index++) {
                insights.children[index].classList.remove('active');
            }
            if (target.tagName === 'A') {
                target = target.parentNode;
            }
            target.classList.add('active');
            if (target.innerHTML === 'Бюджеты') {
                getBudgets();
            }
            if (target.innerHTML === 'Задачи') {
                getIssues("");
            }

            if (target.innerHTML === 'Настройки') {
                $.ajax({
                    type: "GET",
                    url: 'http://127.0.0.1:25595/project/' + params[2] + '/members/list',
                    success: function (data) {
                        $(".issues-content").empty();
                        $(".issues-content").prepend(
                            "<table id='issues'>\n" +
                            "                        <thead>\n" +
                            "                            <tr>\n" +
                            "                                <th>Участник</th>\n" +
                            "                                <th>Роль</th>\n" +
                            "                                <th>Удалить</th>\n" +
                            "                            </tr>\n" +
                            "                        </thead>\n" +
                            "                        <tbody>\n"
                        )

                        $(data).each(function (i, elem) {
                            $("tbody").append(
                                "<tr>\n" +
                                "<td hidden>" + elem['ID'] + "</td>\n" +
                                "<td>" + elem['Name'] + " " + elem['LastName'] + "</td>\n" +
                                "<td>" + elem['Role'] + "</td>\n" +
                                "<td><span class=\"material-icons-sharp\">more_horiz</span></td>\n" +
                                "</tr>\n"
                            );
                        })

                        $(".issues-content").append(
                            "                        </tbody>" +
                            "</table>");

                        $(".issues-content").prepend(
                            "<button onclick=\"location.href='/project/' + params[2] + '/members'\";><span class=\"material-icons-sharp\">add</span>Добавить участника</button>"
                        );

                        $(".issues-content").append(
                            "<button class=\"danger\" onclick=\"location.href='/submit?action=delete&entity=project&id=' + params[2]\">" +
                            "<span class=\"material-icons-sharp\">delete</span>Удалить проект" +
                            "</button>"
                        );
                    },
                });
            }
        }
    })

    function getBudgets() {
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:25595/budgets?project_id=" + params[2],
            success: function (data) {

                $(".issues-content").empty();
                $(".issues-content").prepend(
                    "<table id='budgets'>\n" +
                    "                        <thead>\n" +
                    "                            <tr>\n" +
                    "                                <th>Бюджет</th>\n" +
                    "                                <th>Дата начала</th>\n" +
                    "                                <th>Дата конца</th>\n" +
                    "                                <th>Внешний ID</th>\n" +
                    "                                <th></th>\n" +
                    "                            </tr>\n" +
                    "                        </thead>\n" +
                    "                        <tbody>\n"
                )
                $(data).each(function (i, elem) {
                    $("tbody").append(
                        "<tr>\n" +
                        "<td hidden>" + elem['ID'] + "</td>\n" +
                        "<td>" + elem['name'] + "</td>\n" +
                        "<td>Заглушка начало</td>\n" +
                        "<td>Заглушка конец</td>\n" +
                        "<td>" + elem['ext_id'] + "</td>\n" +
                        "<td><span class=\"material-icons-sharp\">more_horiz</span></td>\n" +
                        "</tr>\n"
                    );
                });

                $(".issues-content").append(
                    "                        </tbody>" +
                    "</table>");

                $('#budgets').click(function (event) {
                    let row = event.target.closest('tr');
                    if (row != null) {
                        if (row.tagName === 'TR') {
                            getIssues("&budget_id=" + row.children[0].innerHTML);
                        }
                    }
                })
            },
            error: function (data) {
                alert(data.statusText);
                console.log(data.statusText)
                // window.location = 'http://127.0.0.1:25595/project'
            }
        })
    }

    function getIssues(budgetID) {
        $.ajax({
            type: "GET",
            url: 'http://127.0.0.1:25595/issue?project_id=' + params[2] + budgetID,
            success: function (data) {
                $(".issues-content").empty();
                $(".issues-content").prepend(
                    "<table id='issues'>\n" +
                    "                        <thead>\n" +
                    "                            <tr>\n" +
                    "                                <th>Трекер</th>\n" +
                    "                                <th>Статус</th>\n" +
                    "                                <th>Название задачи</th>\n" +
                    "                                <th>Назначена</th>\n" +
                    "                                <th>Обновлено</th>\n" +
                    "                                <th>Оценка трудозатрат</th>\n" +
                    "                                <th>Трудозатраты</th>\n" +
                    "                                <th>Бюджет</th>\n" +
                    "                                <th></th>\n" +
                    "                            </tr>\n" +
                    "                        </thead>\n" +
                    "                        <tbody>\n"
                )

                $(data).each(function (i, elem) {
                    $("tbody").append(
                        "<tr>\n" +
                        "<td hidden>" + elem['ID'] + "</td>\n" +
                        "<td>" + elem['TrackerName'] + "</td>\n" +
                        "<td>" + elem['StatusName'] + "</td>\n" +
                        "<td>" + elem['Name'] + "</td>\n" +
                        "<td>" + elem['AssignedTo'] + "</td>\n" +
                        "<td>Обновлено Заглушка</td>\n" +
                        "<td>Оценка Заглушка</td>\n" +
                        "<td>Трудозатраты Заглушка</td>\n" +
                        "<td>" + elem['BudgetName'] + "</td>\n" +
                        "<td><span class=\"material-icons-sharp\">more_horiz</span></td>\n" +
                        "</tr>\n"
                    );
                })

                $(".issues-content").append(
                    "                        </tbody>" +
                    "</table>");

                $('#issues').click(function (event) {
                    let row = event.target.closest('tr');
                    if (row != null) {
                        if (row.tagName === 'TR') {
                            location.assign("/issue/" + row.children[0].innerHTML);
                        }
                    }
                })
            },
            error: function (data) {
                alert(data.statusText);
                console.log(data.statusText)
                // window.location = 'http://127.0.0.1:25595/project'
            }
        });
    }
</script>
<script>
    function renew() {
        // if (target.innerHTML === 'Настройки') {
        const addProductBtn = document.querySelector(".add-product")

        addProductBtn.addEventListener('click', () => {
            location.assign("");
        })
        // }
    }
</script>
<script type="module">
    import {
        Octokit
    } from 'https://cdn.skypack.dev/octokit'
    import {
        Base64
    } from 'https://cdn.jsdelivr.net/npm/js-base64@3.7.5/base64.mjs'

    const owner = 'vehicle-aggregator'
    const repo = 'doc_sample'
    const path = '1.txt'
    const org = 'vehicle-aggregator'

    const insights = document.querySelector(".submenu");
    insights.addEventListener('click', (event) => {
        let target = event.target;
        if (target.innerHTML === 'Техническое задание') {
            $(".issues-content").empty();
            $(".issues-content").append($('<p>Проект</p>'))
            $(".issues-content").append($('<select id="project-select" style="margin: 0 0 1rem 0">'))
            $(".issues-content").append($('<div id="doc" style="height: 70vh; overflow-y: auto; overflow-x: hidden">'))
            getSRS()
        }
    })

    export const apiGetDocContent = async (rep) => {
        if (!rep) {
            return
        }
        return await octokit.request('GET /repos/{owner}/{repo}/contents/{path}', {
            owner,
            repo: rep,
            path,
        })
    }

    export const apiGetRepositories = async () => {
        return await octokit.request('GET /orgs/{org}/repos', {
            org: org,
        })
    }

    const octokit = new Octokit({
        auth: {{ .token }}
    })

    function getSRS() {
        apiGetDocContent().then((result) => {
            const container = document.querySelector('#doc')
            const resContent = Base64.decode(result.data.content)
            let p = document.createElement("pre");
            p.append(resContent);
            container.append(p)
        })
        apiGetRepositories().then((result) => {
            let selector = document.querySelector('#project-select')
            let data = result.data
            for (let i = 0; i < data.length; i++) {
                let opt = document.createElement('option')
                opt.value = data[i].node_id
                opt.innerHTML = data[i].name
                selector.appendChild(opt)
            }
        })

        let selector = document.querySelector('#project-select')
        selector.addEventListener("change", function () {
            const container = document.querySelector('#doc')
            container.innerHTML = ''
            apiGetDocContent(selector[selector.selectedIndex].text).then((result) => {
                const container = document.querySelector('#doc')
                const resContent = Base64.decode(result.data.content)
                let p = document.createElement("pre");
                p.append(resContent);
                container.append(p)
            })
        })
    }


</script>
</body>
</html>