<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бюджеты</title>
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/js.cookie.js"></script>
</head>
<body>
<div class="container">
    {{template "aside.html" .}}
    <main>
        <h1>Бюджеты</h1>
        <div class="issues">
            <div class="issues-content">
                <table id='budgets'>
                    <thead>
                    <tr>
                        <th>Бюджет</th>
                        <th>Проект</th>
                        <th>Дата начала</th>
                        <th>Дата конца</th>
                        <th>Внешний ID</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range $budgets := .budgets }}
                    <tr>
                        <td hidden>{{.ID}}</td>
                        <td>{{.Name}}</td>
                        <td>{{.ProjectName}}</td>
                        <td class="parseTime">{{.StartAt}}</td>
                        <td class="parseTime">{{.EndAd}}</td>
                        <td>{{.ExtID}}</td>
                        <td><span class="material-icons-sharp">more_horiz</span></td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <div class="right">
        {{ template "right-top.html" .}}
        {{ template "resent-updates.html" }}
        <!-------------------- END OF RECENT UPDATES -------------------->
        <div class="sales-analytics">
            <div class="item add-product">
                <div>
                    <span class="material-icons-sharp">add</span>
                    <h3 id="add-budget-task">Добавить бюджет</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/aside.js"></script>
<script src="/js/right-top.js"></script>
<script>

    let times = document.getElementsByClassName('parseTime')
    for (let i = 0; i < times.length; i++) {
        times[i].innerHTML = parseTime(times[i].innerHTML.replace('MSK', ''))
    }

    function parseTime(time) {
        const d = new Date(time)
        var date_format_str = /*(d.getHours().toString().length==2?d.getHours().toString():"0"+d.getHours().toString()) + // часы
            ":" + ((parseInt(d.getMinutes())).toString().length==2?(parseInt(d.getMinutes())).toString():"0"+(parseInt(d.getMinutes())).toString()) + // минуты
            ' ' + */(d.getDate().toString().length==2?d.getDate().toString():"0"+d.getDate().toString()) + // день
            '.' + ((d.getMonth()+1).toString().length==2?(d.getMonth()+1).toString():"0"+(d.getMonth()+1).toString())+  // месяц
            '.' + d.getFullYear().toString() // год
        return date_format_str
    }

    const tbody = document.querySelector('tbody')
    for (let i = 0; i < tbody.children.length; i++) {
        tbody.children[i].addEventListener('click', function () {
            const bID = tbody.children[i].children[0].innerHTML
            // window.location.href = 'http://'+window.location.host+'/budgets/' + bID
            location.assign('/budgets/' + bID)
        })
    }
</script>
</body>
</html>